<div ng-if="myinfoCtrl.isRegistered()">
  Your registered info is:

  <ul >
    <li>First name: {{myinfoCtrl.user.firstname}}</li>
    <li>Last name: {{myinfoCtrl.user.lastname}}</li>
    <li>Email: {{myinfoCtrl.user.email}}</li>
    <li>Phone: {{myinfoCtrl.user.phone}}</li>
    <li>Favourite Menu Dish: <br/>
      <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
              <div>{{myinfoCtrl.user.favMenuItemFromServer.short_name}}</div>
              <img class="img-responsive" width="250" height="150"
              ng-src="{{myinfoCtrl.basePath}}/images/{{myinfoCtrl.user.favMenuItemFromServer.short_name}}.jpg"
              alt="{{myinfoCtrl.user.favMenuItemFromServer.name}}">
            </div>
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">{{myinfoCtrl.user.favMenuItemFromServer.name}}</h3>
            <p class="menu-item-details">{{myinfoCtrl.user.favMenuItemFromServer.description}}</p>
          </div>
        </div>
        <hr class="visible-xs">
      </div>
    </li>
  </ul>
</div>

<div ng-if="!myinfoCtrl.isRegistered()">
  Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
</div>
