Signup here

<form name='regForm' novalidate>

   <input type="text" name="firstname" placeholder="First name"
     ng-model="signupCtrl.user.firstname"
     required
     minlength="4"
     ng-maxlength="10"
     ng-style="{color:'black'}">
     {{ signupCtrl.user.firstname }}
     <span
       ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
       Fist name must be at least 4 characters long
     </span>
     <span ng-if="regForm.firstname.$error.maxlength && regForm.firstname.$touched">
       Fist name must not be longer than 10 characters
     </span>
     <br>

   <input type="text" name="lastname" placeholder="Last name"
       ng-model="signupCtrl.user.lastname"
       required
       minlength="4"
       ng-maxlength="10"
       ng-style="{color:'black'}">
       {{ signupCtrl.user.lastname }}
       <span
         ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
         Last name must be at least 4 characters long
       </span>
       <span ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
         Last name must not be longer than 10 characters
       </span>
       <br>

   <input type="email" name="email" placeholder="Email"
     ng-model="signupCtrl.user.email"
     required
     ng-style="{color:'black'}">
     <span ng-if="regForm.email.$invalid && regForm.email.$touched">
       Must be a valid email address: handle@domain format
     </span>
     <br>

   <input type="text" name="phone" placeholder="Phone ###-###-####"
     ng-model="signupCtrl.user.phone"
     pattern="(\d{3})-(\d{3})-(\d{4})"
     ng-style="{color:'black'}">
     <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
       Phone must be in the format ###-###-####.
     </span>
     <br>

     <input type="text" name="favMenuItem" placeholder="Favorite menu dish"
       ng-model="signupCtrl.user.favMenuItem"
       required
       minlength="2"
       ng-maxlength="4"
       ng-style="{color:'black'}">
       {{ signupCtrl.user.favDish }}
       <span
         ng-if="(regForm.favMenuItem.$error.minlength || regForm.favMenuItem.$error.required) && regForm.favMenuItem.$touched">
         Favorite menu dish must be at least 2 characters long
       </span>
       <span ng-if="regForm.favMenuItem.$error.maxlength && regForm.favMenuItem.$touched">
         Favorite menu dish must not be longer than 4 characters
       </span>
       <span ng-if="!signupCtrl.itemExists">
         No such menu number exists
       </span>
       <br>

   <button
     ng-disabled="regForm.$invalid"
     ng-click="signupCtrl.submit()"
     ng-style="{color:'black'}">Submit</button>
 </form>

 <span ng-if="signupCtrl.saved">
   Your information has been saved
 </span>
